*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}
html{
        font-size: 66%;  
}
body{
      height: 100vh;
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
        background:linear-gradient(to right, #3494e6 0%, #ec6ead 100%);
}
main{
        display: flex;
      /* position: relative; */
        justify-content: center;
        align-items: center;
      
       width: 70vw;
       height: 70vh;
       border-radius: 8px;
       box-shadow: 0 1rem 5rem 1rem rgba(47, 44, 44, 0.75);
       
      /* backdrop-filter: blur(); */
      /* filter:blur(); */
      overflow: hidden;
}
.player{
        width: 80vw;
        height:inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        border-radius: 12px;
        overflow: hidden;
}
.player-1{
        background-color: #ec6ead4b ;
        backdrop-filter: blur(200rem);
}
.current{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-top: 15rem;
        background-color: #3494e6;
        padding: 1rem 3rem;
        border-radius: 1rem;
}
.current_label{
               margin-bottom: 1rem;
}
.score{
        margin-top: 3rem;
        font-size: 5rem;
        
}
img{
        width: 6rem;
        height: 6rem;
        position: absolute;
        text-align: center;
}
.btn{
        
        position: absolute;
        text-align: center;
        padding: 1rem 2rem;
        cursor: pointer;
        font: inherit;
        border-radius: 3rem;
        border: none;
        
}
.new_game{
        position: absolute;
        top: 16rem;
        font-size:1.5rem;
}
.roll_dice{
        position: absolute;
        bottom: 22rem;
        font-size:1.5rem;
}
.hold{
        position: absolute;
        bottom: 16rem;
        font-size:1.5rem;
}